* {
        margin: 0%;
        padding: 0%;
}

html,
body {
        width: 100%;
        height: 100%;
}

.header {
        width: 100%;
        height: 10%;
}

.header_inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
}

.header-ttl {
        width: 100%;
        height: 50%;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
}

.header-btn {
        font-size: 1.2vw;
        width: 5%;
        display: inline-block;
        display: flex;
        justify-content: center;
        position: absolute;
        margin-right: 5%;
        z-index: 10;
        border: solid rgb(225, 212, 200);
}

a {
        color: rgb(225, 212, 200);
}

.wrapper {
        aspect-ratio: 1512/982;
}

main {
        width: 100%;
        height: 90%;
        background-color: rgb(241, 236, 230);
}

.main-top {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
}

.main-top_inner {
        width: 100%;
}

.main-ttl {
        text-align: center;
        font-size: 2.0vw;
        font-family: 'Times New Roman', Times, serif;
}

.main-bottom {
        width: 100%;
        height: 85%;
}

.main-bottom_inner {
        width: 40%;
        height: 80%;
        margin: 0 auto;
        padding-top: 3%;
        background-color: #fff;
}

.register_form {
        width: 65%;
        height: 85%;
        margin: 0 auto;
}

.register_form-top {
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
}

.register_form-item {
        width: 100%;
        height: 30%;
}

.register_form-label {
        margin: 2% 0;
}

.register_form-input {
        width: 99%;
        height: 40%;
        border-color: #fff;
        background-color: rgb(241, 236, 230);
}

.register_form-bottom {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.register_form-button {
        width: 20%;
        height: 35%;
        color: #fff;
        background-color: black;
}